/* Resetowanie domyślnych stylów przeglądarki */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
#root {
  height: 100%;
  font-family: Arial, sans-serif;
}

.app-container {
  display: flex;
  height: 100vh;
}

.nav {
  width: 250px;
  background-color: #f4f4f4;
  height: 100%;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  height: 100px;
  background-color: #fff;
  color: #000;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.main {
  flex: 1;
  background-color: #e9ecef;
  padding: 20px;
  overflow-y: auto; /* Pozwala na przewijanie w pionie, jeśli treść jest zbyt długa */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
